{% extends "allonsy/user_admin.html" %}

{% block adminmain %}
<div class="columns small-9">
    <div class="row">
        <div class="callout primary">Use this form to create a new workflow </div>
    </div>

    <div class="row">
        <form id="add_workflow_form" method="post">
            <!--omitted action per HTML5 spec -->

            {% csrf_token %}

             <div class="row">
                <div class="columns small-12">
                    <label>Name for this workflow
                        <input type="text" name="wf_set_name" placeholder="Example" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="columns small-6">
                    <label>Display order
                        <input type="text" name="wf_disp_order" placeholder="1" />
                    </label>
                </div>
                <fieldset class="columns small-6">
                    <legend>Make this workflow active on submit?</legend>
                    <input type="checkbox" name="wf_set_is_active" value="True" id="wf_set_is_active">
                    <label for="wf_set_is_active">Active</label>
                </fieldset>
            </div>
            <div class="row">
                    <div class="large-4 columns">
                        <input type="submit" class="button" value="Submit" />
                    </div>
            </div>

            {% if form.errors %}
                <div id="form-error">
                    <p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
                    <ul>
                    {% for field in form %}
                    <li>{{field.html_name}} {{ field.errors|striptags }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}

        </form>
    </div>
</div>
{% endblock adminmain %}