{% extends "allonsy/roles_base.html" %}

{% block rolesdash %}

{% load mptt_tags %}


<form method="POST" action=".">
  {% csrf_token %}

  <div class="row expanded">
   <div class="columns small-12">
      <label>
        Workflow title:
        <input name="wf_item_name" type="text" value=" {{ instance_data.wf_item_name }}">
      </label>
    </div>
    <div class="columns small-12">
      <label>
        Workflow title:
        <input name="wf_item_text" type="text" value=" {{ instance_data.wf_item_text }}">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
        <input type="submit" class="button default-accent" value="Update workflow"/>
    </div>
  </div>
</form>

{% endblock rolesdash %}

