{% extends "allonsy/roles_base.html" %}

{% block rolesdash %}

{% load mptt_tags %}


<form method="POST" action=".">
  {% csrf_token %}

  <div class="row">
    <div class="large-4 columns">
        <input type="submit" class="button default-accent" value="Save your progress!"/>
    </div>
  </div>

  <div class="row expanded" data-equalizer>
  {% for column in dyn_columns %}
    <div class="columns small-4">
      <div class="row" data-equalizer-watch>
        <div class="columns small-12">
          <h4 class="text-center">{{column.wf_item_name}}</h4>
        </div>
        {% for item in dyn_items %}
          {% if item.parent == column %}
            {% if item.wf_item_status == 'ON' %}
              <div class="columns small-12">
                <div class="columns small-10">
                  {{ item.wf_item_name }}
                </div>
                <div class="columns small-2">
                  <div class="switch">
                    <input class="switch-input" id="{{ item.uuid_wf_item }}" type="checkbox" name="{{ item.uuid_wf_item }}" checked>
                    <label class="switch-paddle" for="{{ item.uuid_wf_item }}">
                      <span class="show-for-sr"></span>
                    </label>
                  </div>
                </div>
              </div>
            {% elif item.wf_item_status == 'OFF' %}
              <div class="columns small-12">
                <div class="columns small-10">
                  {{ item.wf_item_name }}
                </div>
                <div class="columns small-2">
                  <div class="switch">
                    <input class="switch-input" id="{{ item.uuid_wf_item }}" type="checkbox" name="{{ item.uuid_wf_item }}">
                    <label class="switch-paddle" for="{{ item.uuid_wf_item }}">
                      <span class="show-for-sr"></span>
                    </label>
                  </div>
                </div>
              </div>
            {% else %}
              <div class="columns small-12">
                <div class="columns small-10">
                  {{ item.wf_item_name }}
                </div>
                <div class="columns small-2">
                  <div class="switch">
                    Error!
                  </div>
                </div>
              </div>
            {% endif %}
          {% else %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
  </div>
</form>

{% endblock rolesdash %}

