{% extends "allonsy/allonsy_base.html" %}

{% block content %}

<div class="row expanded">
    <div class="columns small-2">
        <div class="row expanded">
            <div class="columns small-12">
                <div class="callout secondary">
                    <h5>Admin menu</h5>
                </div>
            </div>
        </div>
        <div class="row expanded">
            <div class="columns small-12">
                <ul class="vertical menu" data-drilldown>
                  <li>
                    <a href="#">Epochs</a>
                    <ul class="vertical menu">
                      <li><a href="#">Add new</a></li>
                      <!-- ... -->
                    </ul>
                  </li>
                  <li>
                    <a href="#">Locations</a>
                    <ul class="vertical menu">
                      <li><a href="#">Item 1A</a></li>
                      <!-- ... -->
                    </ul>
                  </li>
                  <li>
                    <a href="#">Organizations</a>
                    <ul class="vertical menu">
                      <li><a href="#">Item 1A</a></li>
                      <!-- ... -->
                    </ul>
                  </li>
                  <li>
                    <a href="#">Users</a>
                    <ul class="vertical menu">
                      <li><a href="#">Add new</a></li>
                      <li><a href="#">Modify</a></li>
                      <li><a href="#">Upload</a></li>
                      <li><a href="#">Delete</a></li>
                      <!-- ... -->
                    </ul>
                  </li>
            </div>
        </div>
    </div>

    <div class="columns small-10">
        {% block c %}{% endblock c %}
    </div>

</div>

{% endblock content %}