<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Allonsy | Login</title>
    <link rel="stylesheet" href="/static/css/foundation.css" />
    <link rel="stylesheet" href="/static/css/static-app.css" />
  </head>
  <body id="pages-app-background">

    <div class="row expanded slide">
      <div class="slidecontainer">
        <div class="row expanded">
          <p class="text-center titletext"><font color="#512DA8">Allons</font><font color="#FFC107">y</font></p>
        </div>
        <form id="login_form" method="post" action="/login/">
                    {% csrf_token %}
          <div class="row expanded">
            <div class="small-2 columns small-offset-5 columns">
                <div class="callout allonsygrey">
                    <label>Username
                        <input type="text" name="username" placeholder="Please enter your username" />
                    </label>
                    <label>Password
                        <input type="password" name="password" placeholder="Please enter your password" />
                    </label>
                    <input type="submit" class="buttonylw" value="Submit" />
                </div>
            </div>
        </div>
        </form>
      </div>
    </div>

    <script src="/static/js/vendor/jquery.min.js"></script>
    <script src="/static/js/vendor/what-input.min.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>