{% extends "allonsy/allonsy_base.html" %}

{% block content %}
<div class="row expanded">
    <div class="callout primary">Use this form to associate organizations</div>
</div>

<div class="row">

    <form id="assoc_organization_form" method="post" action="/assoc/org/usr/do">

        {% csrf_token %}

        <div class="row">
            <div class="columns small-6">
                <label>Organization
                  <select name="org">
                      {% for org in orglist %}
                            <option value="{{ org.uuid_org }}">{{ org }}</option>
                      {% endfor %}
                  </select>
                </label>
            </div>
            <div class="columns small-6">
                <label>User
                  <select name="user">
                      {% for user in usrlist %}
                            <option value="{{ user.uuid_user }}">{{ user }}</option>
                      {% endfor %}
                  </select>
                </label>
            </div>

        </div>

        <div class="row">
                <div class="large-4 columns">
                    <input type="submit" class="button" value="Submit" />
                </div>
        </div>

        {% if form.errors %}
            <div id="form-error">
                <p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
                <ul>
                {% for field in form %}
                <li>{{field.html_name}} {{ field.errors|striptags }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}

    </form>

</div>

{% endblock content %}