<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Allonsy | Welcome</title>
    {% load static %}
    <link rel="stylesheet" href="/static/css/foundation.css" />
    <link rel="stylesheet" href="/static/css/app.css" />
  </head>
  <body>

        <!-- Nav top-bar --><!--TODO: Ensure top-nav is sticky -->

    <div data-sticky-container>
      <div class="title-bar" data-sticky data-options="marginTop:0.1;" style="width:100%">
        <div class="title-bar-left">
          <a href="/user/">
            <ul class="dropdown menu" data-dropdown-menu>
              <li class="menu-text">Allonsy</li>
            </ul>
          </a>
        </div>
        <div class="title-bar-right">
          <ul class="menu">
            <li><input type="search" placeholder="Search!"></li>
            <li><button type="button" class="button yellow-accent">Search</button></li>
          </ul>
        </div>
      </div>
    </div>

        <!-- End Nav top-bar -->

        <!-- Start subnav. This hides on mobile -->
<!-- TODO: base-submenu-row is a testing solution for styling. Change in prod-->
    <div class ="row expanded columns base-submenu-row">

        <ul class="dropdown menu" data-dropdown-menu>
          <li>
            <a href="{% url 'resolve_user_url' request.user %}">My Profile {% if total_interactions > 0 %} <span class="badge default-accent-badge">{{ total_interactions }}</span> {% else %}{% endif %}</a>
            <ul class="menu">
              <li><a href="{% url 'do_get_user_interactions' request.user %}">Interactions {% if count_current_user_interactions > 0 %} <span class="badge default-accent-badge">{{ count_current_user_interactions }}</span> {% else %}{% endif %} </a></li>
              <li><a href="{% url 'do_get_user_alerts' request.user %}">Alerts {% if count_current_user_alerts > 0 %} <span class="badge default-accent-badge">{{ count_current_user_alerts }}</span> {% else %}{% endif %} </a></li>
              <li><a href="#">Preferences</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Report Abuse</a></li>
            </ul>
          </li>
          <li>
            <a href="#">My Role</a>
            <ul class="menu">
              {% if user_extension_object.user_type == 'X' or user_extension_object.user_type == 'A' or user_extension_object.user_type == 'D' %}
              <li><a href="{% url 'user_admin' %}">Admin</a></li>
              {% else %}
              {% endif %}
              <li><a href="/user/{{ request.user }}/roles/">Roles Dashboard</a></li>
              <li><a href="#">Nightly Rounds</a></li>
              <li><a href="#">Incident Report</a></li>
              <li><a href="#">Damage Report</a></li>
              <li><a href="#">Ticketing System</a></li>
            </ul>
          </li>
          <li>
            <a href="#">My Groups</a>
            <ul class="menu">
              <li><a href="#">Classes</a></li>
              <li><a href="#">Clubs</a></li>
              <li><a href="#">Working Groups</a></li>
              <li><a href="#">Create New Group</a></li>
            </ul>
          </li>
          <li>
            <a href="#">My Services</a>
            <ul class="menu">
              <li><a href="#">Residence Life</a></li>
              <li><a href="#">Facilities</a></li>
              <li><a href="#">IT Services</a></li>
            </ul>
          </li>
          <li>
            <a href="#">My Housing</a>
            <ul class="menu">
              <li><a href="#">Housing Survey</a></li>
              <li><a href="#">Room Selection</a></li>
            </ul>
          </li>
          <li>
            <a href="/logout/">Logout</a>
          </li>
        </ul>

    </div>

        <!--Alert space-->
    <div class="row expanded">
      {% for alert in current_user_alerts %}
      <a href="/user/{{ request.user }}/alerts"><div class="small alert callout" style="text-align:center">{{ alert.interaction_text }}</div></a>
      {% endfor %}

    </div>

        <!--End subnav-->

        <!--Start alert-space -->
    <div class="row expanded columns">
      <div class="columns small-12">
      </div>
    </div>

        <!--end alertspace-->
    {% block content %}{% endblock content %}


  <!-- End canvas -->
    <script src="/static/js/vendor/jquery.min.js"></script>
    <script src="/static/js/vendor/what-input.min.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>