{% extends "allonsy/admin-base.html" %}

{% block content %}

<div class="row">

    <div class="row">
        <div class="columns small-4">
            <a href="../create/account">Account</a>
        </div>
        <div class="columns small-4">
            School
        </div>
        <div class="columns small-4">
            Department
        </div>
    </div>
    <div class="row">
        <div class="columns small-4">
            Office
        </div>
        <div class="columns small-4">
            Lecture
        </div>
        <div class="columns small-4">
            Session
        </div>
    </div>
    <div class="row">
        <div class="columns small-4">
            Group
        </div>
        <div class="columns small-4">
            User
        </div>
        <div class="columns small-4">
            Location
        </div>
    </div>

</div>

{% endblock content %}