{% extends "allonsy/allonsy_base.html" %}

{% block content %}

        <!--Create meeple info-->

    <div class="row">
      <div class="columns small-12" style="background-color:#999999;">
        <!--Infobox content-->
        <div class="row">

          <!--Image-->
          <div class="columns small-12 medium-3 large-3">
            <div class="row">
            <div class="columns small-6 small-centered medium-6 medium-centered large-12">
            <div style="background-color:#333; width:200px; height:200px;">
            </div>
            </div>
            </div>
          </div>

          <!--Information-->
          <div class="columns small-12 medium-9 large-9">
            <div class="row">
            <div class="columns small-6 small-centered large-12">
              <div class="row">
                <div class="columns small-12">
                  <h3>{{req_user.first_name}} {{req_user.last_name}}</h3>
                </div>
              </div>
              <div class="row">
                <div class="columns small-12">
                  <h5>{{ req_userextension.user_role_name }}</h5>
                </div>
              </div>
              <div class="row">
                <div class="columns small-12">
                  {% for org in orgs_primary %}
                  <h5>{{ org.relation_name }}</h5>
                  {% endfor %}
                </div>
              </div>
              <div class="row">
                <div class="columns small-12">
                  <h5>Building and office/room</h5>
                </div>
              </div>
              <div class="row">
                {% if cur_user == req_user %}
                <div class="columns small-3">
                  <a href="/user/{{ req_user.username }}/edit/profile" class="button">Edit your profile</a>
                </div>
                {% else %}
                <div class="columns small-3">
                  <a href="" class="button">Add as connection</a>
                </div>
                {% endif %}
                <div class="columns small-9">
                  {% if cur_user == req_user %}
                  <div class="columns small-6">
                    <a href="/user/{{ req_user.username }}/edit/contact" class="extended button">Edit your on-campus info</a>
                  </div>
                  <div class="columns small-6">
                    <a href="/user/{{ req_user.username }}/edit/emergencycontacts" class="extended button">Edit your emergency info</a>
                  </div>
                  {% else %}
                  <div class="columns small-6">
                    <button class="dropdown button" data-toggle="on-campus-contact-data">On-campus contact information</button>
                    <div class="dropdown-pane" id="on-campus-contact-data" data-dropdown data-auto-focus="true">
                      <table class="hover">
                        <tbody>
                        <tr>
                          <td><b>Email:</b></td>
                          <td>{{req_user.email}}</td>
                        </tr>
                        <tr>
                          <td><b>Phone:</b></td>
                          <td>{{req_userextension.user_phone_value}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="columns small-6">
                    <button class="dropdown button" data-toggle="home-contact-data">Personal contact information</button>
                    <div class="dropdown-pane" id="home-contact-data" data-dropdown data-auto-focus="true">
                      <table class="hover">
                        <tbody>
                        <tr>
                          <td><b>Email:</b></td>
                          <td>{{req_userextension.user_personal_email_value}}</td>
                        </tr>
                        <tr>
                          <td><b>Phone:</b></td>
                          <td>{{req_userextension.user_home_phone_value}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!--Instantiate column structure -->
        <!--TODO: Add 20px margin-bottom to section above-->
    <div class="row">

    <!--Left column-->
        <div class="columns small-3">
          <div class="row">
            <ul class="menu vertical">
              <!--TODO: Add .active class to css -->
              <li class="active"><a href="/user/{{ request.user }}/interactions">Inbox {% if count_current_user_interactions > 0 %} <span class="badge">{{ count_current_user_interactions }}</span> {% else %}{% endif %}</a></li>
              <li><a href="/user/{{ request.user }}/alerts">Alerts {% if count_current_user_alerts > 0 %} <span class="badge">{{ count_current_user_alerts }}</span> {% else %}{% endif %}</a></li>
              <li><a href="/user/{{ request.user }}/interactions/sent">Sent</a></li>
            </ul>
          </div>
        </div>

    <!--Right column-->
        <div class="columns small-9">
          <ul class="vertical menu" data-accordion-menu>
            {% for interact in cur_user_interacts %}
            {% for sender in interact.interaction_sender.all %}
            {% for target in interact.interaction_target.all %}
            <li>
              <a href="#">
                {% if interact.interaction_status == 'O' and interact.interaction_target == current_user %}
                <b>[NEW] {{ sender.first_name }} {{ sender.last_name }}:</b> {{interact.interaction_subject}}
                {% elif interact.interaction_status == 'I' and interact.interaction_target == current_user %}
                <b>{{ sender.first_name }} {{ sender.last_name }}:</b> {{interact.interaction_subject}}
                 {% elif interact.interaction_sender = current_user %}
                <b>{{ target.first_name }} {{ target.last_name }}:</b> {{interact.interaction_subject}}
                {% endif %}
              </a>
              <ul class="menu vertical nested">
                <li>{{interact.interaction_text}}</li>
                <li>
                  <div class="row">
                    {% if interact.interaction_type == 'M' %}
                      <button data-open="{{interact.uuid_interaction}}" class="small button" href="#">Reply</button>
                        <div class="reveal" id="{{interact.uuid_interaction}}" data-reveal>
                          <form id="do_edit_user_profile_form" method="post" action="reply/{{interact.uuid_interaction}}/">
                          {% csrf_token %}
                          <h5>Reply to: {{ sender.first_name }} {{ sender.last_name }}</h5>
                          <p>
                            <label>
                            Subject:
                              <input name="interaction_subject" type="text" value="{{interact.interaction_subject}}">
                            </label>
                          </p>
                          <p>
                            <textarea name="interaction_text"></textarea>
                          </p>
                            <div class="columns small-6">
                            <input type="submit" class="button" value="Send" />
                          </div>
                          <button class="close-button" data-close aria-label="Close modal" type="button">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          </form>
                        </div>
                    {% if interact.interaction_status == 'O' %}
                    <a href="status/I/{{interact.uuid_interaction}}/" class="small hollow button">Mark as read</a>
                    {% else %}
                    <a href="status/O/{{interact.uuid_interaction}}/" class="small hollow button">Mark as unread</a>
                    {% endif %}
                    <a href="status/X/{{interact.uuid_interaction}}/" class="small alert hollow button">Delete</a>
                    <!--TODO: Reporting/blocking functionality-->
                    <a href="status/F/{{interact.uuid_interaction}}/" class="small secondary hollow button">Report</a>
                    {% elif interact.interaction_type == 'C' %}
                    <button class="small success button" href="#">Accept connection</button>
                    <button class="small alert hollow button" href="#">Decline connection</button>
                    <button class="small secondary hollow button" href="#">Report</button>
                    {% elif interact.interaction_type == 'R' %}
                    <button class="small button" href="#">Send message</button>
                    <button class="small success button" href="#">Accept roommate</button>
                    <button class="small warning hollow button" href="#">Add to potentials</button>
                    <button class="small alert hollow button" href="#">Decline roommate</button>
                    <button class="small secondary hollow button" href="#">Report</button>
                    {% else %}
                    <button class="small alert hollow button" href="#">Delete</button>
                    {% endif %}
                  </div>
                </li>
              </ul>
            </li>
            {% endfor %}
            {% endfor %}
            {% endfor %}
          </ul>

        </div>

   <!--end columns-->
    </div>

{% endblock content %}