{% extends "allonsy/allonsy_base.html" %}

{% block content %}
   <div class="row expanded">

   <!--Start left nav -->
      <div class="columns small-2">
         <div class="row">
            <div class="columns small-12">
                <center><img class="img-circle-sm" src="http://i.imgur.com/lnRFVtA.jpg" /></center>
            </div>
            <div class="columns small-12">
               <h5><center>{{req_user.first_name}} {{req_user.last_name}}</center></h5>
            </div>
         </div>
         <div class="row">
            <ul class="vertical menu" data-drilldown>
              <li>
                <a href="#Item-1">Residence Life</a>
                <ul class="vertical menu">
                  <li><a href="{% url 'roles_oncall' request.user %}">On-call</a></li>
                  <li><a href="{% url 'roles_onduty' request.user %}">Rounds</a></li>
                  <li><a href="#Item-1A">Check-in</a></li>
                  <li><a href="#Item-1A">Check-out</a></li>
                </ul>
              </li>
              <li><a href="#Item-2">Facilities</a></li>
              <li>
                  <a href="#Item-2">Create a new report</a>
                  <ul class="vertical menu">
                      <li><a href="#">Incident</a></li>
                      <li><a href="{% url 'do_create_wf_instance' request.user wf_oncall %}">Rounds</a></li>
                      <li><a href="#">Check-in</a></li>
                      <li><a href="#">Check-out</a></li>
                      <li><a href="#">On-call</a></li>
                  </ul>
              </li>
            </ul>
         </div>
      </div>

   <!--Start content space-->
      <div class="columns small-10">
   {% block rolesdash %}{% endblock rolesdash %}
      </div>

   </div>

{% endblock content %}