{% extends "allonsy/user_base.html" %}

{% block usermain %}

 <!--Instantiate column structure -->
        <!--TODO: Add 20px margin-bottom to section above-->
    <div class="row">
    <!--Left column-->
        <div class="columns small-3">
          <div class="row">
            <div class="columns small-12">
              <div class="row">
                <div class="columns small-12">
                  <h5>Affiliations</h5>
                </div>
              </div>
              <div class="row">
                <div class="columns small-12">
                  {% for org in orgs_affil %}
                    <a href="{% url 'resolve_org_url' org.uuid_org %}"><span class="label default">{{ org.org_ShortName }}</span></a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="columns small-12">
              <div class="row">
                <div class="columns small-12">
                  <h5>Interests</h5>
                </div>
              </div>
              <div class="row">
                <div class="columns small-12">
                  {% for org in orgs_interest %}
                    <a href="{% url 'resolve_org_url' org.uuid_org %}"><span class="label default">{{ org.org_ShortName }}</span></a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="columns small-12">
              <div class="row">
                <div class="columns small-12">
                  <h5>Achievements</h5>
                </div>
              </div>
              <div class="row">
                <div class="columns small-12">
                  {% for org in orgs_achieve %}
                    <a href="{% url 'resolve_org_url' org.uuid_org %}"><span class="label default">{{ org.org_ShortName }}</span></a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
    <!--Right column-->
        <div class="columns small-9">
          <div class="row">
            <div class="columns small-12">
              <div class="row">
                <div class="columns small-12">
                  <h5>About Me</h5>
                  {{ profile_aboutme.profile_aboutme| linebreaks }}
                </div>
              </div>
              {% if req_user.id = user.id %}
              {% else %}
              <div class="row">
                <div class="columns 12-small">
                  <h5>Our common connections</h5>
                </div>
              </div>
              <div class="row">
                <div class="columns small-12">
                  {% for connect in common_connects %}
                  <div class="columns small-2">
                      {{connect.first_name }} {{ connect.last_name }}
                  </div>
                  {% endfor %}
                  <div class="columns small-2 end"></div>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="columns small-12">
              <div class="row">
                <div class="columns small-12">
                  <h5>RoomTraits</h5>
                </div>
              </div>
              <div class="row">

              </div>
            </div>
          </div>
          <div class="row">
            <div class="columns small-12">
              <div class="row">
                <div class="columns small-12">
                  <h5>Roommate Recommendations</h5>
                </div>
              </div>
              <div class="row">

              </div>
            </div>
          </div>
        </div>

   <!--end columns-->
    </div>

{% endblock usermain %}