{% extends "allonsy/allonsy_base.html" %}

{% block content %}

        <!--Create meeple info-->

    <div class="row">
      <div class="columns small-12">
        <!--Infobox content-->
        <div class="row">

          <!--Image-->
          <div class="columns small-12 medium-3 large-3">
            <div class="row">
            <div class="columns small-6 small-centered medium-6 medium-centered large-12">
            <div style="background-color:#333; width:200px; height:200px;">
            </div>
            </div>
            </div>
          </div>

          <!--Information-->
          <div class="columns small-12 medium-9 large-9">
            <div class="row">
            <div class="columns small-6 small-centered large-12">
              <div class="row">
                <div class="columns small-12">
                  <h3>{{req_user.first_name}} {{req_user.last_name}}</h3>
                </div>
              </div>
              <div class="row">
                <div class="columns small-12">
                  <h5>{{ req_userextension.user_role_name }}</h5>
                </div>
              </div>
              <div class="row">
                <div class="columns small-12">
                  {% for org in orgs_primary %}
                  <h5>{{ org.relation_name }}</h5>
                  {% endfor %}
                </div>
              </div>
              <div class="row">
                <div class="columns small-12">
                  <h5>Building and office/room</h5>
                </div>
              </div>
              <div class="row">
                {% if cur_user == req_user %}
                <div class="columns small-3">
                  <a href="/{{ user_account_url }}/user/{{ req_user.username }}/edit/profile" class="button default-accent">Edit your profile</a>
                </div>
                {% else %}
                <div class="columns small-3">
                  <a href="" class="button">Add as connection</a>
                </div>
                {% endif %}
                <div class="columns small-9">
                  {% if cur_user == req_user %}
                  <div class="columns small-6">
                    <a href="/user/{{ req_user.username }}/edit/contact" class="extended button default-accent">Edit your on-campus info</a>
                  </div>
                  <div class="columns small-6">
                    <a href="/user/{{ req_user.username }}/edit/emergencycontacts" class="extended button default-accent">Edit your emergency info</a>
                  </div>
                  {% else %}
                  <div class="columns small-6">
                    <button class="dropdown button" data-toggle="on-campus-contact-data">On-campus contact information</button>
                    <div class="dropdown-pane" id="on-campus-contact-data" data-dropdown data-auto-focus="true">
                      <table class="hover">
                        <tbody>
                        <tr>
                          <td><b>Email:</b></td>
                          <td>{{req_user.email}}</td>
                        </tr>
                        <tr>
                          <td><b>Phone:</b></td>
                          <td>{{req_userextension.user_phone_value}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="columns small-6">
                    <button class="dropdown button" data-toggle="home-contact-data">Personal contact information</button>
                    <div class="dropdown-pane" id="home-contact-data" data-dropdown data-auto-focus="true">
                      <table class="hover">
                        <tbody>
                        <tr>
                          <td><b>Email:</b></td>
                          <td>{{req_userextension.user_personal_email_value}}</td>
                        </tr>
                        <tr>
                          <td><b>Phone:</b></td>
                          <td>{{req_userextension.user_home_phone_value}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
            </div>
          </div>

        </div>
      </div>
    </div>

   {% block usermain %}{% endblock usermain %}

{% endblock content %}