{% extends "allonsy/user_base.html" %}

{% block usermain %}

 <!--Instantiate column structure -->
        <!--TODO: Add 20px margin-bottom to section above-->
    <div class="row">

    <!--Left column-->
        <div class="columns small-3">
          <div class="row">
            <ul class="menu vertical" data-drilldown>
              <li>
                <a href="#">Elements</a>
                <ul class="vertical menu">
                  {% if user_extension_object.user_type == 'X' %}
                  <li>
                    <a href="#">Accounts</a>
                    <ul class="vertical menu">
                      <li><a href="{% url 'do_add_account' %}">Add new</a></li>
                      <li><a href="#">Edit existing</a></li>
                    </ul>
                  </li>
                  {% else %}
                  {% endif %}
                  {% if user_extension_object.user_type == 'X' or user_extension_object.user_type == 'A' or user_extension_object.user_type == 'D' %}
                  <li>
                    <a href="#">Epochs</a>
                    <ul class="vertical menu">
                      <li><a href="#">Add new</a></li>
                      <li><a href="#">Edit existing</a></li>
                    </ul>
                  </li>
                  {% else %}
                  {% endif %}
                  {% if user_extension_object.user_type == 'X' or user_extension_object.user_type == 'A' or user_extension_object.user_type == 'D' %}
                  <li>
                    <a href="#">Locations</a>
                    <ul class="vertical menu">
                      <li><a href="{% url 'do_add_location' %}">Add new</a></li>
                      <li><a href="#">Edit existing</a></li>
                    </ul>
                  </li>
                  {% else %}
                  {% endif %}
                  {% if user_extension_object.user_type == 'X' or user_extension_object.user_type == 'A' or user_extension_object.user_type == 'D' %}
                  <li>
                    <a href="#">Organizaions</a>
                    <ul class="vertical menu">
                      <li><a href="{% url 'do_add_organization' %}">Add new</a></li>
                      <li><a href="#">Edit existing</a></li>
                    </ul>
                  </li>
                  {% else %}
                  {% endif %}
                  {% if user_extension_object.user_type == 'X' or user_extension_object.user_type == 'A' or user_extension_object.user_type == 'D' %}
                  <li>
                    <a href="#">Users</a>
                    <ul class="vertical menu">
                      <li><a href="{% url 'do_add_user' %}">Add new</a></li>
                      <li><a href="#">Edit existing</a></li>
                    </ul>
                  </li>
                  {% else %}
                  {% endif %}
                </ul>
              </li>
              <li>
                <a href="#">Connections</a>
                <ul class="vertical menu">
                  {% if user_extension_object.user_type == 'X' or user_extension_object.user_type == 'A' or user_extension_object.user_type == 'D' %}
                  <li><a href="#">Epochs</a></li>
                  {% else %}
                  {% endif %}
                  {% if user_extension_object.user_type == 'X' or user_extension_object.user_type == 'A' or user_extension_object.user_type == 'D' %}
                  <li>
                    <a href="#">Locations</a>
                    <ul class="vertical menu">
                      <li><a href="#">Connect Location to Parent/Child</a></li>
                    </ul>
                  </li>
                  {% else %}
                  {% endif %}
                  {% if user_extension_object.user_type == 'X' or user_extension_object.user_type == 'A' or user_extension_object.user_type == 'D' %}
                  <li>
                    <a href="#">Organizations</a>
                    <ul class="vertical menu">
                      <li><a href="/user/{{ request.user }}/user-admin/assoc/org/do">Connect Organization to Parent/Child</a></li>
                    </ul>
                  </li>
                  {% else %}
                  {% endif %}
                  {% if user_extension_object.user_type == 'X' or user_extension_object.user_type == 'A' or user_extension_object.user_type == 'D' %}
                  <li>
                    <a href="#">Users</a>
                    <ul class="vertical menu">
                      <li><a href="#">Connect User to Location</a></li>
                      <li><a href="{% url 'do_assoc_organization_user' %}">Connect User to Organization</a></li>
                    </ul>
                  </li>
                  {% else %}
                  {% endif %}
                </ul>
              </li>
              <li>
                <a href="#">Workflows</a>
                <ul class="vertical menu">
                  {% if user_extension_object.user_type == 'X' or user_extension_object.user_type == 'A' or user_extension_object.user_type == 'D' %}
                  <li><a href="{% url 'wf_tree_node_add_or_edit' %}">Create new</a></li>
                  <li><a href="{% url 'get_tree_node_for_add_item_1' %}">Edit existing</a></li>
                  {% else %}
                  {% endif %}
                </ul>
              </li>
              <li>
                <a href="{% url 'user_admin' %}">Return to dashboard</a>
              </li>
            </ul>
          </div>
        </div>

    <!--Right column-->
        {% block adminmain %}{% endblock adminmain %}

   <!--end columns-->
    </div>

{% endblock usermain %}