{% extends "allonsy/allonsy_base.html" %}

{% block content %}

        <!--Create meeple info-->

    <div class="row">
      <div class="columns small-12">
        <!--Infobox content-->
        <div class="row">

          <!--Image-->
          <div class="columns small-12 medium-3 large-3">
            <div class="row">
            <div class="columns small-6 small-centered medium-6 medium-centered large-12">
            <!-- <div style="background-color:#333; width:200px; height:200px;"> -->
              <img class="img-circle-lg" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/073/1b3/0e6455d.jpg" />
              <!-- <img class="img-circle-lg" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/01f/316/1f551bc.jpg" /> -->
            </div>
            </div>
          </div>

          <!--Information-->
          <div class="columns small-12 medium-9 large-9">
            <div class="row">
            <div class="columns small-6 small-centered large-12">
              <div class="row">
                <div class="columns small-12">
                  <h3>{{req_user.first_name}} {{req_user.last_name}}</h3>
                </div>
              </div>
              <div class="row">
                <div class="columns small-12">
                  <!-- <h5>{{ req_userextension.user_role_name }}</h5> -->
                  <h5>Senior</h5>
                </div>
              </div>
              <div class="row">
                <div class="columns small-12">
                  <!-- <h5>{{ req_userextension.user_role_name }}</h5> -->
                  <h5>Example University College of Arts and Sciences</h5>
                </div>
              </div>
              <!-- <div class="row">
                <div class="columns small-12">
                  {% for org in orgs_primary %}
                  <h5>{{ org.relation_name }}</h5>
                  {% endfor %}
                </div>
              </div> -->
              <div class="row">
                <div class="columns small-12">
                  <h5>West Hall - Room 220</h5>
                </div>
              </div>
              <div class="row">
                {% if cur_user == req_user %}
                <div class="columns small-3">
                  <a href="/user/{{ req_user.username }}/edit/profile" class="button default-accent">Edit your profile</a>
                </div>
                {% elif relation_status == 'None' %}
                <div class="columns small-3">
                  <a data-open="modalConnection" class="button default-accent">Add as connection</a>
                </div>

                <div class="reveal" id="modalConnection" data-reveal>
                  <form id="do_user_connect_form" method="post" action="{% url 'do_user_connect' req_user %}">
                  {% csrf_token %}
                  <h5>Connect with {{req_user.first_name}}?</h5>

                  <label>Connection type
                    <select name="relation_type">
                      <option value="L">Personal</option>
                      <option value="R">Add as Roommate</option>
                    </select>
                  </label>

                  <label>Introduce yourself!
                    <textarea name="interaction_text" placeholder="Please add me as a connection."></textarea>
                  </label>

                  <input type="submit" class="button" value="Send request" />

                    {{form.errors}}

                  </form>
                </div>

                {% elif relation_status.relation_status == 'P' %}
                <div class="columns small-5">
                  <a href="" class="button warning">Connection pending...</a>
                </div>

                {% elif relation_status.relation_status == 'A' %}
                <div class="columns small-5">
                  <div class="button-group">
                    <a data-open="messagemodal" class="button success">Message!</a>
                    <a href="" class="button success">You're connected!</a>

                    <div class="reveal" id="messagemodal" data-reveal>
                      <form id="do_send_message_form" method="post" action="{% url 'do_send_message' req_user %}">
                          {% csrf_token %}
                          <h5>Message to: {{ req_user.first_name }} {{ req_user.last_name }}</h5>
                          <p>
                            <label>
                            Subject:
                              <input name="interaction_subject" type="text" value="Message from {{ cur_user.first_name }} {{ cur_user.last_name }}">
                            </label>
                          </p>
                          <p>
                            <textarea name="interaction_text"></textarea>
                          </p>
                            <div class="columns small-6">
                            <input type="submit" class="button" value="Send" />
                          </div>
                          <button class="close-button" data-close aria-label="Close modal" type="button">
                            <span aria-hidden="true">&times;</span>
                          </button>
                      </form>
                      <button class="close-button" data-close aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                  </div>
                </div>


                {% else %}
                <div class="columns small-5">
                  <a href="" class="button error">Status unavailable</a>
                </div>
                {% endif %}

                <div class="columns small-7">
                  {% if cur_user == req_user %}
                  <div class="columns small-6">
                    <a href="/user/{{ req_user.username }}/edit/contact" class="extended button default-accent">On-campus info</a>
                  </div>
                  <div class="columns small-6">
                    <a href="/user/{{ req_user.username }}/edit/emergencycontacts" class="extended button default-accent">Emergency info</a>
                  </div>
                  {% else %}
                  <div class="columns small-6">
                    <button class="dropdown button default-accent" data-toggle="on-campus-contact-data">On-campus info</button>
                    <div class="dropdown-pane" id="on-campus-contact-data" data-dropdown data-auto-focus="true">
                      <table class="hover">
                        <tbody>
                        <tr>
                          <td><b>Email:</b></td>
                          <td>{{req_user.email}}</td>
                        </tr>
                        <tr>
                          <td><b>Phone:</b></td>
                          <td>{{req_userextension.user_phone_value}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="columns small-6">
                    <button class="dropdown button default-accent" data-toggle="home-contact-data">Emergency info</button>
                    <div class="dropdown-pane" id="home-contact-data" data-dropdown data-auto-focus="true">
                      <table class="hover">
                        <tbody>
                        <tr>
                          <td><b>Email:</b></td>
                          <td>{{req_userextension.user_personal_email_value}}</td>
                        </tr>
                        <tr>
                          <td><b>Phone:</b></td>
                          <td>{{req_userextension.user_home_phone_value}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
            </div>
          </div>

        </div>
      </div>
    </div>

   {% block usermain %}{% endblock usermain %}

{% endblock content %}