{% extends "allonsy/user_base.html" %}

{% block usermain %}

 <!--Instantiate column structure -->
        <!--TODO: Add 20px margin-bottom to section above-->
    <div class="row">

    <!--Left column-->
        <div class="columns small-3">
          <div class="row">
            <ul class="menu vertical">
              <!--TODO: Add .active class to css -->
              <li class="active"><a href="/user/{{ request.user }}/interactions">Inbox {% if count_current_user_interactions > 0 %} <span class="badge default-accent-badge">{{ count_current_user_interactions }}</span> {% else %}{% endif %}</a></li>
              <li><a href="/user/{{ request.user }}/alerts">Alerts {% if count_current_user_alerts > 0 %} <span class="badge default-accent-badge">{{ count_current_user_alerts }}</span> {% else %}{% endif %}</a></li>
              <li><a href="/user/{{ request.user }}/interactions/sent">Sent</a></li>
            </ul>
          </div>
        </div>

    <!--Right column-->
        <div class="columns small-9">
          <ul class="vertical menu" data-accordion-menu>
            {% for interact in cur_user_interacts %}
            {% for sender in interact.interaction_sender.all %}
            {% for target in interact.interaction_target.all %}
            <li>
              <a href="#">
                {% if interact.interaction_status == 'O' and interact.interaction_direction = 'R' %}
                <b>[NEW] {{ sender.first_name }} {{ sender.last_name }}:</b> {{interact.interaction_subject}}
                {% elif interact.interaction_status == 'I' and interact.interaction_direction = 'R' %}
                {{ sender.first_name }} {{ sender.last_name }}: {{interact.interaction_subject}}
                 {% elif interact.interaction_direction = 'S' %}
                {{ target.first_name }} {{ target.last_name }}: {{interact.interaction_subject}}
                {% endif %}
              </a>
              <ul class="menu vertical nested">
                <li>{{interact.interaction_text}}</li>
                <li>
                  <div class="row">
                    {% if interact.interaction_type == 'M' %}
                      <button data-open="{{interact.uuid_interaction}}" class="small button" href="#">Reply</button>
                        <div class="reveal" id="{{interact.uuid_interaction}}" data-reveal>
                          <form id="do_edit_user_profile_form" method="post" action="reply/{{interact.uuid_interaction}}/">
                          {% csrf_token %}
                          <h5>Reply to: {{ sender.first_name }} {{ sender.last_name }}</h5>
                          <p>
                            <label>
                            Subject:
                              <input name="interaction_subject" type="text" value="{{interact.interaction_subject}}">
                            </label>
                          </p>
                          <p>
                            <textarea name="interaction_text"></textarea>
                          </p>
                            <div class="columns small-6">
                            <input type="submit" class="button" value="Send" />
                          </div>
                          <button class="close-button" data-close aria-label="Close modal" type="button">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          </form>
                        </div>
                    {% if interact.interaction_status == 'O' %}
                    <a href="status/I/{{interact.uuid_interaction}}/" class="small hollow button">Mark as read</a>
                    {% else %}
                    <a href="status/O/{{interact.uuid_interaction}}/" class="small hollow button">Mark as unread</a>
                    {% endif %}
                    <a href="status/X/{{interact.uuid_interaction}}/" class="small alert hollow button">Delete</a>
                    <!--TODO: Reporting/blocking functionality-->
                    <a href="status/F/{{interact.uuid_interaction}}/" class="small secondary hollow button">Report</a>
                    {% elif interact.interaction_type == 'C' %}
                    <button class="small success button" href="status/A/{{interact.uuid_interaction}}/">Accept connection</button>
                    <button class="small alert hollow button" href="status/R/{{interact.uuid_interaction}}/">Decline connection</button>
                    <button class="small secondary hollow button" href="">Report</button>
                    {% elif interact.interaction_type == 'R' %}
                    <button class="small button" href="#">Send message</button>
                    <button class="small success button" href="#">Accept roommate</button>
                    <button class="small warning hollow button" href="#">Add to potentials</button>
                    <button class="small alert hollow button" href="#">Decline roommate</button>
                    <button class="small secondary hollow button" href="#">Report</button>
                    {% elif interact.interaction_type == 'A' %}
                    {% if interact.interaction_status == 'O' %}
                    <a href="status/I/{{interact.uuid_alert}}/" class="small hollow button">Mark as read</a>
                    {% else %}
                    <a href="status/O/{{interact.uuid_alert}}/" class="small hollow button">Mark as unread</a>
                    {% endif %}
                    <a href="status/X/{{interact.uuid_alert}}/" class="small alert hollow button">Delete</a>
                    {% else %}
                    <a href="status/X/{{interact.uuid_alert}}/" class="small alert hollow button">Delete</a>
                    {% endif %}
                  </div>
                </li>
              </ul>
            </li>
            {% endfor %}
            {% endfor %}
            {% endfor %}
          </ul>

        </div>

   <!--end columns-->
    </div>

{% endblock usermain %}