<!--Non-form version of wf_instance_edit, used to approve forms-->

{% extends "allonsy/roles_base.html" %}

{% block rolesdash %}

{% load mptt_tags %}


<form method="POST" action=".">
  {% csrf_token %}

  <div class="row expanded" data-equalizer>
  {% for column in dyn_columns %}
    <div class="columns small-4">
      <div class="row" data-equalizer-watch>
        <div class="columns small-12">
          <h4 class="text-center">{{column.wf_item_name}}</h4>
        </div>
        {% for item in dyn_items %}
          {% if item.parent == column %}
            {% if item.wf_item_status == 'ON' %}
              <div class="columns small-12">
                <div class="columns small-10">
                  {{ item.wf_item_name }}
                </div>
                <div class="columns small-2">
                  <i class="fi-check"></i>
                </div>
              </div>
            {% elif item.wf_item_status == 'OFF' %}
              <div class="columns small-12">
                <div class="columns small-10">
                  {{ item.wf_item_name }}
                </div>
                <div class="columns small-2">
                  <i class="fi-x"></i>
                </div>
              </div>
            {% else %}
              <div class="columns small-12">
                <div class="columns small-10">
                  {{ item.wf_item_name }}
                </div>
                <div class="columns small-2">
                  <div class="switch">
                    Error!
                  </div>
                </div>
              </div>
            {% endif %}
          {% else %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
  </div>
  <div class="row">
    <div class="large-4 columns">
      <div class="button-group expanded">
        <a class="button success" href="{% url 'check_wf_before_approve' request.user parent_node.uuid_wf_item %}">Approve</a>
        <a class="button alert" href="{% url 'wf_status_update' request.user 'r' parent_node.uuid_wf_item %}">Revert</a>
        <a class="button secondary">Add notes</a>
  </div>
</form>

{% endblock rolesdash %}

